html {
  @include primary-copy-font;
  color: $base-text-color;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  height: 100%;
}

@function vw($val, $base: 1440) {
  @return calc($val / $base) * 100vw;
}

@function vmin($val, $base: 320) {
  @return calc($val / $base) * 100vmin;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.not-scroll {
  overflow: hidden;
}
