// Color names - http://chir.ag/projects/name-that-color/
// Calc( (100vw - Vmin px)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin px);

$black: #000000;
$white: #ffffff;
$mine_shaft: #2A2A2A;
$tunderbird: #CB2720;
$scarlet: #FD2016;
$mountain_meadow: #20C863;
$picton_blue: #2FB3F3;
$cornflower_blue: #776EE9;
$alabaster: #F8F8F8;

// Body
$base-text-color: $black;
$secondary-text-color: $black;

// Headings
$base-headings-color: $black;
