.advantages {
  display: flex;
  align-items: center;
  font-size: vw(11);

  &__item {
    display: flex;
    max-width: vw(200);
  }

  &__icon {
  }

  &__icon--min-map {
  }

  &__icon--calc {
  }

  &__wrap-btn {
  }

  &__item--social {
  }

  &__social {
  }

  &__social-wa {
  }

  &__social-tg {
  }

  &__social-viber {
  }
}
