.advantages {
  font-size: vw(17);
  line-height: vw(27);
  display: flex;
  margin-top: auto;

  &__item {
    padding: vw(34) vw(95);

    &:first-child {
      padding-left: 0;
    }

    &:not(:last-child) {
      border-right: vw(2) solid darken($white, 55%);
    }
  }
}
