.btn-dotted,
.btn-content,
.btn-burger {
  border: none;
  outline: none;
  background: none;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.btn-dotted {
  color: $mine_shaft;
  font-weight: 700;
  letter-spacing: 0.05em;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: vw(2);
    border-bottom: vw(2) dotted $scarlet;
    margin-top: vw(4);
    transition: transform 0.3s;
  }

  &:hover::before {
    transform: translateX(-50%);
  }

  @include small-desktop-and-less {
    padding-bottom: vmin(4);

    &:before {
      height: vmin(2);
      border-bottom: vmin(2) dotted $scarlet;
    }
  }
}

.btn-content {
  width: vw(400);
  height: vw(100);
  border-radius: vw(50);
  padding: 0 vw(54);
  color: $white;
  background: $scarlet;
  font-size: vw(16);
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: vw(24);

  & svg {
    width: vw(30);
    height: vw(30);
    fill: $white;
    transition: transform 0.3s;
  }

  &:hover {
    background: darken($scarlet, 20%);

    & svg {
      transform: rotate(45deg);
    }
  }

  @include small-desktop-and-less {
    width: vmin(276);
    height: vmin(60);
    border-radius: vmin(30);
    padding: 0 vmin(12);
    background: $scarlet;
    font-size: vmin(10);
    letter-spacing: 0.04em;
    line-height: vmin(15);
    justify-content: center;

    & svg {
      display: none;
    }
  }

  &--transparent {
    box-shadow: inset 0 0 0 vw(2) lighten($black, 50%);
    background: rgba($black, 0.5);
    position: relative;
    justify-content: end;

    & svg {
      width: vw(30);
      height: vw(30);
      fill: $mountain_meadow;
      position: absolute;
      left: vw(28);
    }

    & span {
      margin-left: vw(6);
    }

    &:hover {
      background: rgba($black, 0.8);
    }

    @include small-desktop-and-less {
      justify-content: center;

      & span {
        margin-left: vmin(6);
        color: $mountain_meadow;
      }
    }
  }
}
