.content {
  background: url('../images/bg.jpg') no-repeat;
  background-size: cover;
  color: $white;
  padding-top: vw(128);
  padding-left: vw(128);
  max-width: vw(1780);

  &__wrap {
    display: grid;
    gap: vw(45);
    max-width: vw(1011);
  }

  &__title {
    font-size: vw(65);
    line-height: vw(95);
    font-weight: normal;
    max-width: vw(1011);
  }

  &__subtitle {
    font-size: vw(27);
    line-height: vw(45);
  }

  &__buttons {
    display: flex;
    gap: vw(25);
  }
}
