.contacts {
  display: grid;
  justify-items: center;

  &__schedule {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: vw(-6);
      width: vw(4);
      height: vw(4);
      border-radius: 50%;
      background: $wa;
    }
  }

  &__tel {
    font-size: vw(20);
    font-weight: 700;
    color: $nav_text;

    & svg {
      fill: $dotted;
      width: vw(9);
      height: vw(5);
      margin-left: vw(10);
      margin-bottom: vw(5);
    }
  }

  &__btn {
    align-items: baseline;

    & svg {
      fill: $dotted;
      width: vw(6);
      height: vw(6);
      margin-left: vw(10);
    }
  }
}
