.header {
  font-size: vw(11);
  border-left: vw(2) solid rgba($nav_text, 0.2);
  padding-right: vw(137);

  &__info {
    display: flex;
    border-bottom: vw(2) solid rgba($nav_text, 0.2);
    padding: vw(27) 0;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: vw(23);
    min-width: vw(370);
  }

  &__text {
    max-width: vw(134);
  }
}
