.header {
  font-size: vw(11);
  border-left: vw(2) solid $nav_text;

  &__info {
    display: flex;
    border-bottom: vw(2) solid $nav_text;
    padding: vw(27) 0;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: vw(23);
    max-width: vw(370);
  }

  &__text {
    max-width: vw(134);
  }
}
