.info {
  font-size: vw(11);
  padding: vw(22) 0;

  &__wrap {
    display: flex;
    align-items: center;
    gap: 0 vw(10);
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0 vw(10);
    letter-spacing: 0.02em;
    line-height: vw(18);

    &--recomendations {
      max-width: vw(134);
    }

    &--address {
      max-width: vw(202);
    }

    &--map {
      max-width: vw(142);
    }
    &--calc {
      max-width: vw(193);
    }

    &--social {
      max-width: vw(241);
      flex-direction: row-reverse;
    }

    &--contacts {
      flex-direction: column;
      gap: vw(6);
      max-width: vw(201);
    }
  }

  &__icon {
    width: vw(35);
    height: vw(35);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 vw(35);

    &--bg,
    &--not-bg,
    &--calc {
      fill: $scarlet;
    }

    &--bg {
      background: url("../images/Карта.png");

      & svg {
        width: vw(6.06);
        height: vw(7.4);
      }
    }

    &--not-bg {
      width: auto;
      height: auto;

      & svg {
        width: vw(12);
        height: vw(15);
      }
    }

    &--calc {
      background: $alabaster;

      & svg {
        width: vw(15);
        height: vw(15);
      }
    }

    &--wa,
    &--telegram,
    &--viber {
      fill: $white;
    }

    &--wa {
      background: $mountain_meadow;

      & svg {
        width: vw(13.58);
        height: vw(13.57);
      }
    }

    &--telegram {
      background: $picton_blue;

      & svg {
        width: vw(12.78);
        height: vw(10.38);
      }
    }

    &--viber {
      background: $cornflower_blue;

      & svg {
        width: vw(12.78);
        height: vw(14.37);
      }
    }
  }

  &__chedule {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: vw(-10);
      width: vw(4);
      height: vw(4);
      border-radius: 50%;
      background: $mountain_meadow;
    }
  }

  &__tel {
    font-size: vw(20);
    font-weight: 700;
    color: $mine_shaft;
    padding-right: vw(18);
    position: relative;

    & svg {
      fill: $scarlet;
      width: vw(9);
      height: vw(5);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: vw(2);
    }
  }

  &__call {
    position: relative;

    & svg {
      fill: $scarlet;
      width: vw(9);
      height: vw(5);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: vw(-20);
    }
  }
}
