.navigation {
  font-size: vw(12);
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: vw(22) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: vw(1) solid lighten($mine_shaft, 50%);

  &__link {
    font-weight: 600;
    color: $mine_shaft;
  }
}
