.navigation {

  &__list {
    display: flex;
    gap: vw(65);
    align-items: center;
    text-transform: uppercase;
    font-size: vw(12);
    font-weight: 600;
    padding: vw(22);
  }
  
  &__link {
    color: $nav_text;

    &:hover {
      color: $link_hover;
    }
  }
}
