.scroll {
  position: relative;
  grid-row: 1/3;

  &::after {
    content: "";
    position: absolute;
    top: vw(300);
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: vw(488);
    border: vw(1.5) solid $gallery;
    box-shadow: 0 0 vw(2) lighten($mine_shaft, 70%);
  }

  &__tetxt {
    transform: rotate(-90deg) translateX(-130%);
    font-size: vw(15);
    font-weight: 800;
    color: $gallery;
    text-shadow: vw(-3) vw(-1) vw(3) lighten($black, 60%);
  }

  &__mouse {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: vw(230);

    & svg {
      width: vw(19);
      height: vw(32);
      fill: $gallery;
    }
    
    &::before {
      content: "";
      position: absolute;
      top: vw(10);
      left: 50%;
      transform: translateX(-50%);
      width: vw(4);
      height: vw(4);
      border: vw(2) solid $scarlet;
      border-radius: 50%;
      z-index: 1;
      cursor: pointer;
    }

  }
}
